   *{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

 body{
    height: 100%;
    width: 100%;
    background-color: peachpuff;
 }

 h1{
    text-align: center;
    color: olivedrab;
    font-size: 60px;
 }

 .easy{
    height: 40px;
    width: 350px;
    color: orangered;
    font-size: x-large;
    background-color: blue;
    text-align: center;
    padding-top: 5px;
 }

 .medium{
    height: 40px;
    width: 350px;
    color: orangered;
    font-size: x-large;
    background-color: blue;
    text-align: center;
    padding-top: 5px;
 }

 .hard{
    height: 40px;
    width: 350px;
    color: orangered;
    font-size: x-large;
    background-color: blue;
    text-align: center;
    padding-top: 5px;
 }